{% extends 'base/main.html' %}
{% block title %}Desafios{% endblock %}

{% block content %}
<h1>Lista de Desafios</h1>
<a href="{% url 'challenge-create' %}">Criar Desafio</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">

</form>

<table>

    <tr>
        <th>Item</th>
        <th></th>
        <th></th>

    </tr>

    {% for challenge in challenges %}
    <tr>
        <td>{{challenge.title}}</td>
        <td><a href="{% url 'challenge' challenge.id %}">View</a></td>
        <td><a href="{% url 'challenge-update' challenge.id %}">Edit</a></td>
        <td><a href="{% url 'challenge-delete' challenge.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}


</table>
{% endblock %}