<!-- navbar.html -->

    {% if request.user.is_authenticated%}
    <p>{{request.user}}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <ul>
        <li><a href="{% url 'works' %}">Obras</a></li>
        <li><a href="{% url 'challenges' %}">Desafios</a></li>
        <li><a href="{% url 'communities' %}">Comunidades</a></li>
        <!-- Adicione mais links conforme necessário -->
    </ul>

