{% extends 'base/main_detail.html' %}

<body>

{% block left_content %}
    <h2>Detalhes da Obra</h2>
    {% if work.image %}
    <img src="{{ work.image.url }}" >
    {% endif %}
{% endblock %}
{% block right_content %}
    <p><strong>Título:</strong> {{ work.title }}</p>
    <p><strong>Autor:</strong> {{ work.author }}</p>
    <p><strong>Média das Notas:</strong> {{ average_score }}</p>
    <p><strong>Descrição:</strong> {{ work.description }}</p>
    <p><strong>Genero:</strong> {{ work.genre }}</p>
    <p><strong>Número de Páginas:</strong> {{ work.page_number }}</p>
    <p><strong>Tipo:</strong> {{ work.kind }}</p>
{% endblock %}

{% block content %}
    <h2>Reviews:</h2>

    <h3>Sua Review</h3>
    {% if not user_reviews %}
        <a href="{% url 'review-create' work_id=work.id %}">Faça sua review</a>
    {% endif %}

    {% for review in user_reviews %}
        <p> <strong>Usuário:</strong> {{ review.user.username }} - <strong>Nota:</strong> {{ review.score }}</p>
        <p><strong>Título:</strong> {{ review.title }}</p>
        <p>{{ review.review }}</p>
        {% if review.user == request.user %}
            <a href="{% url 'review-update' pk=review.pk %}">Atualizar</a>
            <a href="{% url 'review-delete' pk=review.pk %}">Excluir</a>
        {% endif %}
    {% empty %}
        <p>Você ainda não fez nenhuma revisão para este trabalho.</p>
    {% endfor %}

    <h3>Outras Reviews</h3>
    {% for page in pages %}
        <p> <strong>Usuário:</strong> {{ page.user.username }} - <strong>Nota:</strong> {{ page.score }}</p>
        <p><strong>Título:</strong> {{ page.title }}</p>
        <p>{{ page.review }}</p>
    {% empty %}
        <p>Você ainda não fez nenhuma revisão para este trabalho.</p>
    {% endfor %}

    {% if pages.has_other_pages %}
        <ul class="pagination">
            {% for num in pages.paginator.page_range %}
                {% if pages.number == num %}
                    <li class="active"><span>{{ num }}</span></li>
                {% elif num > pages.number|add:'-3' and num < pages.number|add:'3' %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
</body>
</html>
