<!-- journal_update.html -->
<a href="{% url 'challenge' pk=journal.challenge.pk %}">Go Back</a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario de atulização Journal</title>
</head>
<body>
{% include 'base/navbar.html' %}
    <h2>formulario de atualização do Diario</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">atualizar pagina</button>
    </form>
</body>
</html>