{% extends 'base/main_list.html' %}

{% block content %}
<h1>Lista de Comunidades</h1>


<table>
    <tr>
        <th>Comunidades</th>
        <th></th>
        <th></th>

    </tr>
    <a href="{% url 'community-create' %}">Cadastrar Comunidade</a>
    {% for community in communities %}
    <tr>
        <td>{{community.name}}</td>
        <td><a href="{% url 'community' community.id %}">View</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}

</table>
{% endblock %}