<!-- journal_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Comunidade</title>
    <a href="{% url 'communities' %}">Go back </a>
</head>
<body>
{% include 'base/navbar.html' %}
    <h2>Formulario Comunidade</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit comunidade</button>
    </form>
</body>
</html>